@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;500;900&display=swap");
* {
  box-sizing: border-box;
}

:root {
  font-family: "Noto Sans", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;
  place-content: center;
  place-items: center;
  background-image: url("../../static/image/background1.jpg");

}

h1 {
  margin: 0;
  color: #8ac1c1;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: rgba(180, 255, 180, 0);
  padding: 3em;
  color: rgba(224, 44, 44, 0.95);
}

legend {
  translate: 0 100%;
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2em;
}

[type=radio] {
  display: none;
}

label {
  position: relative;
  padding: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  font-weight: 500;
  transition: 0.4s ease;
  color: rgba(31, 32, 32, 0.5);
}

label:hover {
  color: inherit;
}

label:before {
  transition: 0.4s ease;
  content: "";
  border-radius: 100vmax;
  display: inline-grid;
  margin-right: 1em;
  width: 2em;
  height: 2em;
  box-shadow: -0.5em -0.25em 0.5em 0 white, 0.5em 0.25em 1.25em 0 #adbfcc;
  background-color: #eff2f5;
  filter: blur(0.1em);
  cursor: pointer;
}

[type=radio]:checked + label {
  color: #1f2020;
  text-indent: 0.5em;
}

[type=radio]:checked + label:before {
  box-shadow: -0.5em -0.25em 0.5em 0 white, 0.5em 0.25em 1.25em 0 #adbfcc, 0.1em 0.1em 0 rgba(173, 191, 204, 0.5) inset, 0.2em 0.2em 0 rgba(205, 215, 223, 0.5) inset, 0.1em 0.1em 0 rgba(255, 255, 255, 0.5) inset, -0.2em -0.2em 0 rgba(255, 255, 255, 0.5) inset;
}


.center {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass
{
  color: #1f2020;
  font-style: italic;
  width: max-content;
  padding: 1px 15px 1px 15px;
  border-radius:10px;
  backdrop-filter: blur(4px) saturate(0%);
  -webkit-backdrop-filter: blur(4px) saturate(0%);
  background-color: rgba(238,229,229,0.27);
}

.dialogWindow {
  width: max-content;
  padding: 1px 15px 1px 15px;
  border-radius:10px;
  background-color: rgba(216, 220, 211, 0.9);
  box-shadow: rgba(216, 220, 211, 0.9) 0px 0px 21px 28px;
}

form {
  place-content: center;
  place-items: center;
  display: grid;
}

.button {
  width: 300px;
  height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin-top: -2ex;
}

.button::before {
  content: '';
  border-radius: 1000px;
  width: calc(300px + 12px);
  height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}


